<strong>2021</strong>
{{ $url := "reading/reading-21.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2020</strong>
{{ $url := "reading/reading-20.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2019</strong>
{{ $url := "reading/reading-19.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2018</strong>
{{ $url := "/reading/reading-18.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2017</strong>
{{ $url := "/reading/reading-17.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2016</strong>
{{ $url := "/reading/reading-16.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2015</strong>
{{ $url := "/reading/reading-15.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2014</strong>
{{ $url := "/reading/reading-14.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2013</strong>
{{ $url := "/reading/reading-13.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2012</strong>
{{ $url := "/reading/reading-12.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2011</strong>
{{ $url := "/reading/reading-11.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2010</strong>
{{ $url := "/reading/reading-10.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2009</strong>
{{ $url := "/reading/reading-09.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2008</strong>
{{ $url := "/reading/reading-08.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2007</strong>
{{ $url := "/reading/reading-07.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2006</strong>
{{ $url := "/reading/reading-06.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}

<strong>2005</strong>
{{ $url := "/reading/reading-05.csv" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url  }}
<ul>
     <li>
    {{ index $r 0 }} {{ index $r 1 }} {{ index $r 2 }}
    </li>
    </ul>
{{ end }}
